.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background: #171F26;
    border-radius: 15px;
    color: #A3ABB2;
    width: 362px;
    height: 226px;
    text-align: center;
}

.card h1 {
    font-size: 20px;
}

.card:hover {
    /*background-color: #FFE071;*/
    background-color:rgba(255, 224, 113, 1);
    color: #3D3D3D;
}
@media only screen and (max-device-width: 450px) and (max-device-height: 950px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 340px;
        height: 210px;
    }
    .card p {
        padding: 0rem 0.3rem 0rem 0.3rem;
    }
  }